.coverpage{
    background-image: url("/images/h_img.jpg");
    background-size: cover;
    color: white;
    height: 650px;
}
.container-fluid{
    margin-bottom: 50px;
    padding-top: 150px;
}
#logo{
    margin-bottom: 50px;
}
#mouse{
    margin-top: 100px;
}
.about-us{
    padding-top: 50px;
    line-height: 2.15em;
}
h2{
    width: 100%;
}
.services{
    background-image: url("/images/s_image.jpg");
    color: white;
    margin-top: 30px;
    padding: 100px;
}
.text{
    display: none;
}
#design, #development, #management {
    
}
.card{
    width: auto;
    height: auto;
}
.what-we-do{
    margin-top: 30px;
}
section img{
    width: 200px;
    margin:20px;
}