.coverpage{
    background-image: url("/images/h_img.jpg");
    background-size: cover;
    color: white;
    height: 650px;
    margin-top: 20px;
}
.container-fluid{
    margin-bottom: 50px;
    padding-top: 150px;
}
#logo{
    margin-bottom: 50px;
}
#mouse{
    margin-top: 100px;
}
.about-us{
    padding-top: 50px;
    line-height: 2.15em;
}
h2{
    width: 100%;
}
.services{
    background-image: url("/images/s_image.jpg");
    color: white;
    margin-top: 30px;
    padding: 100px;
}
.text{
    display: none;
}
.card{
    width: auto;
    height: auto;
    border: none;
}
.what-we-do{
    margin-top: 30px;
}
.work1,.work2,.work3,.work4,.work5,.work6,.work7,.work8{
    position: relative;
    width: 240px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8{
    width: 100%;
    margin: 0px;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
.project-name{
    width:150px;
    height:120px;
    border:1px solid rgb(255, 255, 255);
    position: absolute;
    left: 40px;
    top: 20px;
    color: white;
    font-weight: bolder;
    display: none;
}
.contact-us{
    background-image: url("/images/c_image.jpg");
    background-size: cover;
    padding: 30px;
    height: 480px;
    color: white;
}
form{
    padding-top: 20px;
}
#name, #email{
    width: 400px;
    margin:20px;
    background:transparent;
    border: 1px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
#message{
    width: 780px;
    height: 100px;
    margin-left: 30px;
    background:transparent;
    border: 1px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
::placeholder {
    color: white;
    text-align: start;
}
.icons{
    margin-top: 30px;
    margin-bottom: 10px;
}
button{
    margin: 20px;
    background-color: rgb(190, 190, 190);
    color: white;
    border-radius: 5px;
}
.copyright{
    text-align: center;
}